services:
  nest-app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env  
    volumes:
      - .:/usr/src/app
    networks:
      - backend-network
    depends_on:
      - postgres  

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend-network

networks:
  default:
    driver: bridge
  backend-network:
    driver: bridge  

volumes:
  pgdata:    